<div class="eo-footer ">
    <div class="wrap">
        <article>
            <ul>
                <li class="pull-left first-li">
                    <p><img class="first-img" src="app/assets/images/slogan.png"></p>
                    <!-- <p><a class="btn-register" ui-sref="register.default">注册送15天专业版</a></p> -->
                </li>
                <li class="pull-left desc-li">
                    <ul>
                        <li><b>产品</b></li>
                        <li><a ui-sref="index">接口管理线上版</a></li>
                        <li><a ui-sref="os.download" target="_blank">接口管理开源版</a></li>
                        <li><a ui-sref="plug.introduce" target="_blank">浏览器接口测试插件</a></li>
                        <li class="boundary-useable-li" ><a href="https://apistore.eolinker.com/#/" target="_blank">接口商店</a></li>
                        <li class="boundary-li">接口网关</li>
                        <li><a href="http://tool.eolinker.com" target="_blank">开发者小工具</a></li>
                    </ul>
                </li>
                <li class="pull-left desc-li">
                    <ul>
                        <li><b>公司</b></li>
                        <li><a ui-sref="about" target="_blank">关于我们</a></li>
                        <li><a href="https://www.eolinker.com/#/register/protocol" target="_blank">服务条款</a></li>
                        <!-- <li>合作伙伴</li> -->
                    </ul>
                </li>
                <li class="pull-left desc-li">
                    <ul>
                        <li><b>支持</b></li>
                        <li><a href="http://apimanagement.course.eolinker.com" target="_blank">帮助中心</a></li>
                        <li><a href="http://blog.eolinker.com" target="_blank">博客</a></li>
                        <li><a href="http://shang.qq.com/wpa/qunwpa?idkey=208b23b73761039b9994d71378ccbf7c84c872d5577d557e45168b37fd290c12" target="_blank">用户讨论Q群</a></li>
                    </ul>
                </li>
                <li class="desc-li">
                    <ul>
                        <li><b>联系我们</b></li>
                        <li>商务合作：</li>
                        <li>market@eolinker.com</li>
                    </ul>
                </li>
            </ul>
        </article>
        <p class="wrap-p">
            ©2016 广州银云信息科技有限公司 / <a href="http://www.miitbeian.gov.cn/">粤ICP备15111480号-3</a>
        </p>
    </div>
</div>
