<!-- author：广州银云信息科技有限公司 -->
<div class="database-team ">
    <article>
        <ul>
            <li class="search-input-li item-li" data-ng-mouseenter="$ctrl.data.info.search.leave=false;" data-ng-mouseleave="$ctrl.data.info.search.leave=true;" ng-class="{'hidden':$ctrl.data.info.power>1}" >
                <div class="form-div">
                    <form name="sureForm">
                        <input class="eo-input " id="search-user-js" type="text" name="user" data-ng-model="$ctrl.data.interaction.request.userName" placeholder="邀请成员的用户名" data-ng-change="$ctrl.data.fun.check()" data-ng-blur="$ctrl.data.fun.closeSearch()" required>
                        <button class="hidden" data-ng-click="$ctrl.data.fun.search()"></button>
                        <label class="eo-button-success search-btn" for="search-user-js" data-ng-click="$ctrl.data.fun.search()">
                            <span class="iconfont icon-sousuo"></span> 搜索用户
                        </label>
                    </form>
                </div>
                <label for="search-user-js">
                    <ul class="search-ul" ng-class="{'hidden':!$ctrl.data.interaction.response.userInfo,'had-invited-search-ul':$ctrl.data.interaction.response.userInfo&&$ctrl.data.interaction.response.userInfo.isInvited==1}" data-ng-click="$ctrl.data.fun.add()">
                        <li>
                            <ul class="people-ul">
                                <li class="pull-left name-summary-li">
                                    {{!!$ctrl.data.interaction.response.userInfo.userNickName?$ctrl.data.interaction.response.userInfo.userName.substr(0, 2).toUpperCase():'未知'}}
                                </li>
                                <li class="pull-left people-li">
                                    <p>
                                        <span>{{!!$ctrl.data.interaction.response.userInfo.userNickName?$ctrl.data.interaction.response.userInfo.userNickName:'未知昵称'}}</span>
                                    </p>
                                    <p class="userName-p">
                                        {{$ctrl.data.interaction.response.userInfo.userName}}
                                    </p>
                                </li>
                                <li class="pull-right">
                                    <span class="check-status">{{$ctrl.data.interaction.response.userInfo.isInvited==1?'已加入':'添加'}}</span>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </label>
                <label for="search-user-js">
                    <ul class="search-ul nothing-search-ul" ng-class="{'hidden':$ctrl.data.interaction.response.userInfo||!$ctrl.data.info.search.submited}">
                        <li>
                            <ul class="none-people-ul">
                                <li>抱歉，没有找到该用户</li>
                            </ul>
                        </li>
                    </ul>
                </label>
            </li>
            <li class="item-li admin-li">
                <p class="title-p">管理员</p>
                <ul class="list-ul">
                    <li class="item-child-li pull-left" ng-repeat="item in $ctrl.data.interaction.response.adminQuery">
                        <ul class="people-ul">
                            <li class="pull-left name-summary-li">
                                {{!!item.userNickName?item.userNickName.substr(0, 2).toUpperCase():'未知'}}
                            </li>
                            <li class="pull-left people-li">
                                <p>
                                    <span>{{!!item.userNickName?item.userNickName:'未知昵称'}}</span>
                                    <span class="iconfont " ng-class="{'icon-huangguan':item.userType==0}"></span>
                                </p>
                                <p class="userName-p" title="{{item.partnerNickName}}">
                                    {{(!!item.partnerNickName)?item.partnerNickName:(item.inviteCall?item.inviteCall:'管理员')}}
                                </p>
                            </li>
                            <li class="pull-right list-li" ng-class="{'hidden':($ctrl.data.info.power!=0)&&item.isNow==0}" data-ng-click="item.listIsClick=true;" data-ng-mouseleave="item.listIsClick=false">
                                <span class="iconfont icon-caidan"></span>
                                <div class="list-function-wrap" data-ng-class="{'hidden':!item.listIsClick}">
                                    <ul class="list-function-ul">
                                        <li class="list-function-detail">
                                            <ul>
                                                <li data-ng-click="$ctrl.data.fun.setNickName({item:item})">修改备注名 </li>
                                                <li data-ng-click="$ctrl.data.fun.setType({item:item,userType:2,$index:$index})" ng-class="{'hidden':item.isNow==1}" >设为普通成员[读写]</li>
                                                <li data-ng-click="$ctrl.data.fun.setType({item:item,userType:3,$index:$index})" ng-class="{'hidden':item.isNow==1}" >设为普通成员[只读]</li>
                                                <li ng-class="{'hidden':item.isNow==1&&item.userType==0}" data-ng-click="$ctrl.data.fun.delete({item:item,$index:$index,isAdmin:true})">{{$ctrl.data.info.power==0?'踢出项目':'退出项目'}}</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="item-li partner-li" data-ng-class="{'hidden':$ctrl.data.interaction.response.query.length==0}">
                <p class="title-p">协作成员</p>
                <ul class="list-ul">
                    <li class="item-child-li pull-left" ng-repeat="item in $ctrl.data.interaction.response.query">
                        <ul class="people-ul">
                            <li class="pull-left name-summary-li">
                                {{!!item.userNickName?item.userNickName.substr(0, 2).toUpperCase():'未知'}}
                            </li>
                            <li class="pull-left people-li">
                                <p>
                                    <span>{{!!item.userNickName?item.userNickName:'未知昵称'}}</span>
                                    <span class="iconfont " ng-class="{'icon-huangguan':item.userType==0}"></span>
                                </p>
                                <p class="userName-p" title="{{item.partnerNickName}}">
                                    {{(!!item.partnerNickName)?item.partnerNickName:(item.inviteCall?item.inviteCall:'未知')}}
                                </p>
                            </li>
                            <li class="pull-right list-li" ng-class="{'hidden':($ctrl.data.info.power==2)&&item.isNow==0}" data-ng-click="item.listIsClick=true;" data-ng-mouseleave="item.listIsClick=false">
                                <span class="iconfont icon-caidan"></span>
                                <div class="list-function-wrap" data-ng-class="{'hidden':!item.listIsClick}">
                                    <ul class="list-function-ul">
                                        <li class="list-function-detail">
                                            <ul>
                                                <li data-ng-click="$ctrl.data.fun.setNickName({item:item})">修改备注名 </li>
                                                <li data-ng-click="$ctrl.data.fun.setType({item:item,userType:1,$index:$index})" ng-class="{'hidden':$ctrl.data.info.power>0}" >设为管理员 </li>
                                                <li data-ng-click="$ctrl.data.fun.setType({item:item,userType:2,$index:$index})" ng-class="{'hidden':$ctrl.data.info.power>0||item.userType==2}" >设为普通成员[读写]</li>
                                                <li data-ng-click="$ctrl.data.fun.setType({item:item,userType:3,$index:$index})" ng-class="{'hidden':$ctrl.data.info.power>0||item.userType==3}" >设为普通成员[只读]</li>
                                                <li data-ng-click="$ctrl.data.fun.delete({item:item,$index:$index,isAdmin:false})">{{!($ctrl.data.info.power==2)?'踢出项目':'退出项目'}}</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </article>
</div>
