<div class="common-table-div">
    <header>
        <ul class="title-ul">
            <li class="btn-group-li">
                <a class="eo-button-success common-btn" data-ng-click="$ctrl.data.fun.edit()"><span class="iconfont icon-tianjia"></span>新增数据库</a>
                <a class="common-btn default-btn" data-ng-click="$ctrl.data.fun.import()"><span class="iconfont icon-shangchuan"></span>导入数据库</a>
            </li>
        </ul>
    </header>
    <article class="first-level-article">
        <table>
            <thead>
                <tr>
                    <th class="first-th">数据库名称</th>
                    <th class="second-th">版本号</th>
                    <th class="third-th">数据库最后修改时间</th>
                    <th class="forth-th">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat='item in $ctrl.data.interaction.response.query' data-ng-click="$ctrl.data.fun.enter({item:item})">
                    <th>{{item.dbName}}</th>
                    <td>V&nbsp;{{item.dbVersion}}</td>
                    <td>{{item.dbUpdateTime}}</td>
                    <td>
                        <div ng-hide="item.userType>1">
                            <a class="home-function-edit" data-ng-click="$ctrl.data.fun.edit({item:item,$index:$index,$event:$event})"><span class="iconfont icon-bianji"></span>修改</a>
                            <a class="home-function-delete" data-ng-click="$ctrl.data.fun.delete({item:item,$index:$index,$event:$event})"><span class="iconfont icon-shanchu"></span>删除</a>
                        </div>
                    </td>
                </tr>
                <tr class="eo-none-tr" ng-if="$ctrl.data.interaction.response.query.length==0">
                    <td colspan="5">尚未新建任何数据库</td>
                </tr>
            </tbody>
        </table>
    </article>
    <footer>
        <div load-directive="$ctrl.data.fun.init(arg)">
        </div>
    </footer>
</div>
