report-ams-component {
    .report-ams-component-article {
        position: absolute;
        top: 100px;
        @include eo-left(20%, 10px);
        background-color: #fff;
        border-radius: 3px;
        border: 1px solid #e5e5e5;
        z-index: 11;
        width: 60%;
        min-height: 60%;
        padding: 0 10px;
        font-size: 14px;
        margin-bottom: 20px;
        >p {
            line-height: 50px;
            border-bottom: 1px solid #e5e5e5;
            .close-btn {
                margin-top: 8px;
                width: 60px;
                text-align: center;
            }
        }
        >ul {
            padding: 10px 0;
            .title-li {
                line-height: 30px;
            }
            .second-title-li {
                padding: 15px 0 10px 0;
                border-top: 1px dashed #e5e5e5;
                font-weight: bold;
                margin-top: 10px;
            }
            .item-li {
                line-height: 30px;
                display:block;
                white-space:nowrap; 
                overflow:hidden; 
                text-overflow:ellipsis;
                .tips-p {
                    color: #999;
                }
            }
            .response-article-li {
                padding: 10px 15px;
                border-radius: 3px;
                color: #666;
                max-height: 400px;
                overflow: auto;
            }
            .divide-li {
                border-top: 1px dashed #e5e5e5;
                padding-top: 10px;
                margin-top: 20px;
            }
            .match-json-li {
                border: 1px solid #e5e5e5;
                border-radius: 3px;
                table {
                    width: 100%;
                    border-spacing: 0;
                    table-layout: fixed;


                    td,
                    th {
                        font-size: 14px;
                        height: 40px;
                        line-height: 20px;
                        padding-left: 10px;
                        cursor: default;
                    }
                    .name-td {
                        width: 30%;
                    }
                    .rule-td {
                        width: 200px;
                    }
                    thead {
                        background-color: #fafafa;
                    }
                    tbody {
                        tr {
                            td {
                                overflow: hidden;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                height: 40px;
                            }
                            &:nth-last-child(n+2) {
                                td,
                                th {
                                    border-bottom: 1px dashed #e5e5e5;
                                }
                            }
                            &:first-child {
                                td,
                                th {
                                    border-top: 1px solid #e5e5e5;
                                }
                            }
                        }
                    }
                }
            }
            .content-container {
                white-space: pre-wrap;
            }
            .match-response-li {
                background-color: #f7f7f7;
            }
            .real-response-li {
                background-color: #fae4e6;
            }
            .success-response-li {
                background-color: #F1F8E9;
            }
            .error-response-li {
                background-color: #fae4e6;
            }
            .default-response-li{
                background-color: rgba(0,0,0,.03);
            }
        }
    }
    .report-ams-mask {
        position: fixed;
        z-index: -1;
        background-color: rgba(12, 12, 12, 0.2);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 10;
    }
}